@tailwind base;
@tailwind components;
@tailwind utilities;

body {
      background: #1A1A19;
}

.app-container {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
}

.footer {
      margin-top: auto;
      background-color: black;
      /* cor do fundo do rodapé */
      color: #ffffff;
      /* cor do texto do rodapé */
      text-align: center;
      padding: 1rem 0;
}